html {
	line-height: 1.8;
	font-family: 'Lato', sans-serif;
	font-size:15px;
	color:#142840;
	font-weight:300;
}

h1, h2, h3, h4 {
	margin:0;
}

h1 {
	font-size:160%;
}

h1:after {
	display: block;
 	width: 40%;
	height: 1px;
 	margin: 24px 0 10px;
	content: "";
 	clear: both;
 	background: #dbdbdb;
}

h2 {
	font-size:146%;
}

h3 {
	font-size:133%;
}

h4 {
	font-size:120%;
}

h5 {
	font-size:106%;
}

p {
	text-align:justify;
}

blockquote {
	padding-top:5px;
	padding-bottom:5px;
	background-color:rgba(255, 234, 235, 0.76);
}

nav .button-collapse {
	position:absolute;
	top:0;
}

#topMenu li:first-child img {
	width:65px;
}

#notFound {
	padding:20px 50px;
	background-color: #f5f6f7;
	overflow:auto;
}

#notFound .homeLinks {
	margin-top:10px;
}

#notFound a.externLink {
	text-decoration:underline
}

#notFound a {
	color: rgb(20,40,64);
}

#notFound a:hover {
	background-color: #f5f6f7;
	color: #26a69a;
}

#notFound #backgroundLogo{
	position:absolute;
	height:100%;
	z-index:0;
	left:-14%;
	opacity: 0.1;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.toHome {
	-webkit-transition: unset;
	transition:unset;
	padding:0;
	
}

.article h1 {
	margin-top:25px
}

.article h2:first-child {
	margin-bottom:25px;
}

.toHome:hover {
	background:none;
}

.imp, #slide-out > li > a {
	font-weight: bold;
	color:#00bfa5;
}

.side-nav li ul li {
	margin-left:10px
}

.side-nav li>a {
	padding:0 16px;
}

.side-nav li ul li a {
	text-decoration: none; 
    text-overflow: ellipsis; 
    display: block; 
    overflow: hidden; 
    white-space: nowrap;
}

.collection .collection-item.avatar {
	min-height:0;
}

.imp2 {
	color:#00bfa5;
}

.table-of-contents a.active, .table-of-contents a:hover {
	border-color:#00bfa5;
}

.topNav {
	background-color:#00bfa5;
	font-weight:400;
}

.articleNav, .sectionNav {
	box-shadow:none;
	-webkit-box-shadow:none;
	background:none;
}

#nav-mobile {
	min-width:260px;
	top:66px;
	overflow-y: hidden;
}

.side-nav {
	width:260px;
}

.content {
	position:absolute;
	top:66px;
	left:0px;
	bottom:0px;
	right:0px;
	overflow-y:hidden;
}

.article {
	position:absolute;
	top:0;
	left:270px;
	bottom:0px;
	right:0px;
	overflow:auto;
	-webkit-overflow-scrolling :touch;
}

.article-view-wrapper {
	padding-top:50px;
	margin-left: auto;
	margin-right: auto;
	background-color:rgba(245,246,247,1);
}

.article-view {
	background: #fff;
	padding: 30px;
	max-width:990px;
	width:100%;
	margin: auto;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.article-view > .row .col {
	float:none;
}

.article-view .section {
  	max-width:642px;
	width:100% !important;
	margin: 0 auto;
}

.article-view .articleNav {
	display:none;
}

img.smaller {
	max-width:216px;
	margin:auto;
}

img.greyBorder {
	border:2px solid #e0e0e0;
}

.text-gold {
	color:#ffd600
}

.collection .option-gold {
	border-left :3px solid #FFD700;
}

.number-icon {
	position:absolute;
	width: 42px;
	height: 42px;
	left:15px;
	display: inline-block;
	text-align:center;
	font-size:18px;
	line-height:42px;
	color:#00bfa5 ;
	font-weight:bold;
}

.number-icon-white {
	position:absolute;
	width: 42px;
	height: 42px;
	left:15px;
	display: inline-block;
	text-align:center;
	font-size:18px;
	line-height:42px;
	color:#fff; ;
	font-weight:bold;
}


blockquote.gold {
	background-color: #fffde7 ;
	border-left-color : #FFD700;
}

#topMenu li:first-child {
	height: 65px;
	width: 100px;
	margin-right: 60px;
	padding-left: 37px;
	border-radius: 0 32px 32px 0;
	background: white;
}

.hidden {
	display:none;
}

.button-collapse {
	cursor:pointer;
}

.printButton {
	position:relative;
	float:right;
	top:20px;
}

#emptyFooter {
	display: block;
	height:150px;
}

.collection .nopadding {
	padding:0;
}

.icon-live {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -60px;
	vertical-align:middle;
}

.icon-history {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -120px;
	vertical-align:middle;
}

.icon-providers {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -300px;
	vertical-align:middle;
}

.icon-dailystoptimes {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -240px;
	vertical-align:middle;
}

.icon-lines {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -180px;
	vertical-align:middle;
}

.icon-messages {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -360px;
	vertical-align:middle;
}

.icon-timeline {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -120px;
	vertical-align:middle;
}

.icon-count {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -480px;
	vertical-align:middle;
}

.icon-drt {
	background-image: url(../images/supervision_icons.png);
	display:inline-block;
	width:60px;
	height:60px;
	background-size:120px 540px;
	background-position:60px -60px;
	vertical-align:middle;
}

.badge-store {
	height:40px;
}


/* -------------  Media Queries */

/* Small screens (below 992px) */
@media screen and (max-width: 992px) {
	html {
		font-size:50px;
	}
	
	nav i.material-icons {
		font-size:70px;
	}
	
	.side-nav li>a {
		font-size:40px;
		height:90px;
		line-height:90px;
	}
	
	.side-nav > li {
		margin-top:15px;
	}
	
	.article {
		left:0;
	}
	
	.articleNav {
		display:none;
	}
	
	#notFound {
		padding:0;
	}
		
	.content {
		top:160px;
	}
	
	.topNav, a.button-collapse, nav i.material-icons {
		height:160px !important ;
		line-height:160px !important;
	}
	
	.printButton {
		display:none;
	}
	
	.collection .collection-item.avatar .title {
	    font-size: 60px;
	}
	
}

/* Print/PDF display */
@media print {

	.content {
		bottom:auto;
		margin: 1.6cm; 
	}
	
	.article { 
		position:static;
	}
	
	.hide-on-small-only, .printButton, #emptyFooter, .topNav, .sectionNav {
        display:none;
    }
    
    .article {
    	left : 0;
    }
    
    /* Hide the printing title, date etc... */
    @page {
      size: auto; 
      margin: 0
   }
	 
}