html {
	line-height: 1.8;
	font-family: 'Lato', sans-serif;
	color:#142840;
	font-size:15px;
}

h1, h2, h3, h4 {
	margin:0;
}

h1 {
	font-size:160%;
}

h1:after {
	display: block;
 	width: 40%;
	height: 1px;
 	margin: 24px 0 10px;
	content: "";
 	clear: both;
 	background: #dbdbdb;
}

h2 {
	font-size:146%;
}

h3 {
	font-size:133%;
}

h4 {
	font-size:120%;
}

h5 {
	font-size:106%;
}

p {
	text-align:justify;
}

blockquote {
	background-color:rgba(255, 234, 235, 0.76);
	padding-top:5px;
	padding-bottom:5px;
}

nav .button-collapse {
	position:absolute;
	top:0;
}

.collection .collection-item.avatar {
	min-height:0;
}

.imp, #slide-out > li > a {
	font-weight: bold;
	color:#00bfa5;
}

.imp2 {
	color:#00bfa5;
}

.table-of-contents a.active, .table-of-contents a:hover {
	border-color:#00bfa5;
}

.topNav {
	background-color:#00bfa5;
}

.articleNav, .sectionNav {
	box-shadow:none;
	-webkit-box-shadow:none;
	background:none;
}

#nav-mobile {
	min-width:260px;
	top:66px;
	overflow-y: hidden;
}

.side-nav {
	width:260px;
}

.side-nav li ul li {
	margin-left:10px
}

.content {
	position:absolute;
	top:66px;
	left:0px;
	bottom:0px;
	right:0px;
	overflow-y:hidden;
}

.article {
	position:absolute;
	top:0;
	left:270px;
	bottom:0px;
	right:0px;
	overflow:auto;
	-webkit-overflow-scrolling :touch;
}

#topmenu li:first-child {
	height: 65px;
	width: 100px;
	margin-right: 60px;
	padding-left: 37px;
	border-radius: 0 32px 32px 0;
	background: white;
}

#topmenu li:first-child img {
	width:65px;
}

.hidden {
	display:none;
}

#toc {
	top:60px;
}

.button-collapse {
	cursor:pointer;
}

#backzenbus {
	top:12px;
	right:50px
}

.sideTitle {
	padding:15px;
}

.printButton {
	position:relative;
	top:20px;
	float:right;
}

#emptyFooter {
	display: block;
	height:150px;
}

.side-nav li>a {
	padding:0 16px;
}

@media screen and (max-width: 992px) {
	html {
		font-size:50px;
	}
	
	nav i.material-icons {
		font-size:70px;
	}
	
	.article {
		left:0;
	}
	
	.articleNav {
		display:none;
	}
	
	.side-nav li>a {
		font-size:40px;
		height:90px;
		line-height:90px;
	}
	
	.content {
		top:160px;
	}
	
	.topNav, a.button-collapse, nav i.material-icons {
		height:160px !important ;
		line-height:160px !important;
	}
	
	.printButton {
		display:none;
	}
	
	.side-nav > li {
		margin-top:15px;
	}
	
	.collection .collection-item.avatar .title {
	    font-size: 60px;
	}
	
}


@media print {

	.content {
		bottom:auto;
		margin: 1.6cm; 
	}
	
	.article { 
		position:static;
	}
	
	.hide-on-small-only, .printButton, #emptyFooter, .topNav, .sectionNav {
        display:none;
    }
    
    .article {
    	left : 0;
    }
    @page {
      size: auto; 
      margin: 0
   }
	 
}